<h2>Works Cited</h2>

<ul class="worksCited">
  <li>Audi, Michael. The Interpretation of Quantum Mechanics. Chicago: University of Chicago, 1973. Print.</li>
  <li>DeLillo, Don. White Noise. New York, NY: Viking, 1985. Print.</li>
  <li>Faigley, Lester. Fragments of Rationality: Postmodernity and the Subject of Composition. Pittsburgh: University of Pittsburgh, 1992. Print.</li>
  <li>Laplace, Pierre Simon. Essai Philosophique Sur Les Probabilités. Paris: Courcier, 1814. Print.</li>
  <li>Newton, Roger G. The Truth of Science: Physical Theories and Reality. Cambridge, MA: Harvard UP, 1997. Print.</li>
  <li>Ward, Steven C. Reconfiguring Truth: Postmodernism, Science Studies, and the Search for a New Model of Knowledge. Lanham: Rowman & Littlefield, 1996. Print.</li>
  <li>What The Bleep Do We Know!? Dir. William Arntz. Perf. Amit Goswami and Fred Alan Wolf. William Arntz, 2006. DVD.</li>
</ul>


<span class="link">
  <a class="prev" href="/home/observer" style=<%= @link_style.html_safe%>>&laquo; Previous</a>
  <a class="next" href="/home/index" style=<%= @link_style.html_safe %>>&laquo; Home</a>
</span>
