<h2>Quantum Mechanics and Postmodernism</h2>

<h3>Modernism and Certainty</h3>

<div class="quote">
  God doesn't play dice with the world <i>&mdash; Albert Einstein</i>
</div>

<p>As mentioned earlier, modern science was founded on the idea that the universe is deterministic. Scientist Pierre-Simon Laplace wrote: </p>

<div class="block_quote">
  Given for one instant an intelligence which could comprehend all the forces by which nature is animated . . . it would embrace in the same formula the movements of the greatest bodies and those of the lightest atom; for it, nothing would be uncertain and the future, as the past, would be present to its eyes.
</div>

<p>Roger Newton puts this more succinctly in his writing <i>The Truth of Science</i>. It was believed that if we knew the complete state of the universe at any given time, we could use the laws of nature to predict its state at any future time.</p>


<span class="link">
  <a class="prev" href="/home/objectivetruth" style=<%= @link_style.html_safe%>>&laquo; Previous</a>
  <a class="next" href="/home/uncertainty" style=<%= @link_style.html_safe%>>Next &raquo;</a>
</span>
