<h1 class="project_title">Postmodernism and the Decline of Objective Truth in Science</h1>
<h2 class="author">
  Gavilan Galloway 
  <br/> 
  PWR2 Winter 2012-2013
</h2>

<div class="quote">
  "There are no facts. Only interpretations." <i> &mdash; Nietzsche</i>
</div>

<div id="pipe_img">
  <%= image_tag("Magritte-pipe.jpg") %>
</div>

<div class="next"><a class="link" href="/home/roadmap">Next &raquo;</a></div>
