
<h2 class="author">
  Gavilan Galloway 
  <br/> 
  PWR2 Winter 2012-2013
</h2>

<div class="quote">
  "There are no facts. Only interpretations." <i> &mdash; Nietzsche</i>
</div>

<div id="pipe">
  <%= image_tag(@image_name) %>
</div>

<span class="link">
  <a class="next" href="/home/roadmap" style=<%= @link_style.html_safe%>>Next &raquo;</a>
</span>
