<h1>The Modern Epistemology</h1>

<h3>How did Modern science pursue truth?</h3>

<p> In his publication, <i>Reconfiguring Truth</i>, Steven C. Ward writes that the modern society reached an agreement with itself about how facts came into being. Truth could only be achieved via the scientific method. Knowledge produced in any other way was not, in fact, knowledge, but rather belief. </p>

<p> There were two major "other ways" of attempting to gain knowledge: through personal experience and through religion. The "lay knowledge" of everyday life was thought to rely on rumor from unscrupulous sources. It was also thought that the average person could not separate their bias from their own experience, and that personal experience could never be validated by anyone else, precisely because it is personal. The modern intellectual mind, in contrast to the "primitive" or "lay mind" was seen as being unrestrained by its cultural background, and thus could receive the truth untainted.</p>

<p> Religion was not disregarded the same way personal experience was. Rather, it was viewed as a separate, yet equally integral source of knowledge. It was thought that God had divided the world into the physical and the spiritual. "The physical" meant the laws of nature, and the way to understand the physical was through science. The spritiual encompassed, among other things, the human soul, the afterlife, and the origin of all things, and was knowable only by God. Science could not explain the spiritual and religion could not explain the physical. </p>

<p> Ward writes that as long as religion stayed in its place, it was recognized as a "necessary" aid to human understanding. But if it began making pronouncements of absolute truth, it was seen as a dangerous threat to the advancement of human knowledge. </p>
