<h1>Postmodernism's Response</h1>

<h2>Nietzsche, DeLillo, and Derrida</h2>

<div id="derrida_img">
  <%= image_tag("deconstructionism.gif") %>
</div>

<p>Nietzsche argued that "the habits of our senses have woven us into lies and deception of sensation" &mdash; lies from which there is no escape. He argued that relying on human sensation would always produce "limited knowledge," because it was always derived from the perspective of the "perceiving being." In contrast to the modern realists, Nietzsche maintained that truth was not a fixed state that could be apprehended and spoken by pure reason, but instead a variable construction influenced by sociopolitical and rhetorical context.</p>

<p>While Nietzsche may not have written during the postmodern era, his ideas were echoed by DeLillo a century later in his landmark work, <i>White Noise</i>:</p>

<div class="block_quote">
  Our senses? Our senses are wrong a lot more often than they're right. THis has been proved in the laboratory. Don't you know about all those theorems that say nothing is what it seems? There's no past, present or future outside our own mind. The so-called laws of motion are a big hoax. Even sound can trick the mind. Just because you don't hear a sound doesn't mean it's not out there.
</div>

<p>Similarly, Derrida argued that our grasp on reality is fundamentally limited by the language and metaphors we use to describe it. He writes, "All we have are epistemologically symmetrical discursive formations or texts and not the fully present thing or idea." For example, Derrida would argue that when we discuss a chair, our understanding of the chair is limited by our vocabulary and our model of the archetypal chair. We don't come to understand the true thing as much as we come to understand our model. "As a consequence," Derrida claims, "objective knowledge about the world, as dreamed in the modern episteme, is impossible." </p>

<p> Alan Gross mounts a similar argument in <i>The Rhetoric of Science</i>, arguing that science is a discursive and linguistic activity, and as such it can never describe things truly. "Facts are by nature linguistic &mdash; no language, no facts." </p>


<div class="prev"><a class="link" href="postmodernism">&laquo; Previous</a></div>
<div class="next"><a class="link" href="objectivetruth">Next &raquo;</a></div>
