<h1>On the Existence of Objective Truth</h1>

<div class="quote">
  "Nothing exists until it is measured." <i>&mdash; Niels Bohr</i>
</div>

<p>Modern scientists were driven by the idea that the universe is deterministic and comprehensible. Scientific progress lept forward during the 19th and 20th centuries, with physicisists developing the theories of electricity and magnetism, radiation, and Einstein's relativity. As such, society believed that human understanding would progress unbounded and that, given enough time, we could fully understanding the workings of the universe. </p>

<div id="block_quote">
  The belief in an external world, independent of the perceiving subject, lies at the basis of all natural science... &mdash; Einstein, <i>Mein Weltbild</i>
</div>

<p>The existence of this single, objective reality has since been thrown into question. Faigley, in his <i>Fragments of Rationality</i> writes that postmodern discourses "throw into radical doubt beliefs still prevalent in culture but derived fromt he Enlightenment," such as the idea that reason and philosophy can provide an objective, relaible, and universal foundation for knowledge." He argues that the self-confidence of the modern era has been replaced by a "growing awareness of randomness, ambiguity, and chaos." </p>

<p>DeLillo explores this idea in <i>White Noise</i>:</p>

<div id="block_quote">
  A man in a trenchcoat and smoky glasses holds a gun to your head and says "Is it raining or isn't it? All you have to do is tell the truth and I'll put away my gun and take the next flight out of here." What truth does he want? Does he want the truth of someone traveling at almost the speed of light in another galaxy? Does he want the truth of someone in orbit around a neutron star? Maybe if these people could see us through a telescope we might look like we were two feet two inches tall and it might be raining yesterday instead of today.
</div>

<p>Then if there is not a single reality for everyone, how do we begin to explain our universe? This has become the role of quantum mechanics. </p>


<div class="prev"><a class="link" href="nietzsche">&laquo; Previous</a></div>
<div class="next"><a class="link" href="certainty">Next &raquo;</a></div>
