<h2>Postmodernism's Response</h2>

<h3>Limits of Human Perception</h3>

<p>Einstein writes that there must exist a single objective reality, but that our perception of it is fallible and incomprehensive. As a consequence, he argues, what we believe to be "physically real" is not guaranteed to be accurate or complete.</p>

<p>This idea gained support in the postmodern era. Ward writes that postmodernism is less concerned with explaining phenomena, and more concerned with explaining <i>how</i> we explain these phenomena. Instead of developing strategies for creating accurate knowledge knowledge, intellectuals began questioning the entire <i>idea</i> of accurate knowledge production. Ward argues that postmodernists seek to emphasize the "forever tentative and political nature of all that is said and written."</p>


<span class="link">
  <a class="prev" href="/home/modernism" style=<%= @link_style.html_safe%>>&laquo; Previous</a>
  <a class="next" href="/home/nietzsche" style=<%= @link_style.html_safe%>>Next &raquo;</a>
</span>
