<h1>What Am I Looking At?</h1>

<div id="eye_img">
  <%= image_tag("eye.jpg") %>
</div>

<p>During my presentation, I discussed the impact of postmodernism on the scientific and religious communities, specifically with respect to the evolution-creationism debate. </p>

<p> I decided to continue examining postmodernity's affect on science by turning to the new epistemology of postmodern science. I will explore the idea that postmodern science has ceased believing that humans can achieve objective truth, or that objective truth even exists.</p>

<p> As a case study, we will consider the differences between quantum mechanics and classical and how these two subjects mirror the differences between modernism and postmodernism. </p>

<p> Lastly, we will discuss this website itself and the way it relates to the ideas above. </p>

<div class="prev"><a class="link" href="index">&laquo; Previous</a></div>
<div class="next"><a class="link" href="modernism">Next &raquo;</a></div>
