<h1>Quantum Mechanics and Postmodernism</h1>

<h2>The Role of the Individual</h2>

<p>So we cannot achieve a complete understanding of our universe because the universe is not deterministic. But perhaps the next most notable aspect of quantum mechanics is the role of the "observer."</p>

<h3>Wave-Particle Duality</h3>

<p>The notion of "wave-particle duality" is the idea that all particles behave as both a wave and a particle simultaneously. This was demonstrated by the famous "double slit experiment" shown below.</p>

<div>
  <%= video_tag("Wave-particle_duality.ogv.720p.webm", :controls => true,
  :size => "720x480", :autobuffer => true) %>
</div>

<p>This is similar to the previous examples of superimposed states of being, except the system "collapses" to a single reality once someone observes the system. That is, by observing a particle, a person forces it to exist in a certain state. Here this idea is explained by theoretical physicists Fred Alan Wolf and Amit Goswami</p>

<iframe width="640" height="360" src="https://www.youtube.com/embed/ioONhpIJ-NY?feature=player_detailpage&start=1443&end=1471" frameborder="0" allowfullscreen></iframe>

