<h2>Quantum Mechanics and Postmodernism</h2>

<h3>Uncertainty</h3>

<div>
  <%= image_tag(@image_name, :size => "500x250") %>
</div>

<p>Quantum mechanics throws out this notion of certainty, and gives us only probabilities in its place. This uncertainty begins with Heisenberg and, appropriately, the Uncertainty Principle: </p>

<div class="block_quote">
  The more precisely the position [of a particle] is determined, the less precisely the momentum is known in this instant and vice versa.
</div>

<p>This alone put an end to determinism, as Heisenberg showed that we cannot know exactly where a particle is and how quickly it is moving at the same time. But, even worse, the Copenhagen interpretation of the Uncertainty Principle states that a particle <i>does not have</i> a well-defined position and momentum at the same time. So then on top of not knowing a particle's exact speed given its position, we cannot even ask what its speed is given its position, because the question does not makes sense. </p>

<p>The quantum mechanical model also throws into obscurity the positions of electrons in an atom. The classical Bohr model held that electrons orbited an atom's nucleus in predictable patterns. But quantum mechanics instead shows us a range of possible places for the electron to exist, referred to as a "cloud of possibilities."</p>

<p>What makes this model more intriguing is the idea that we cannot tell exactly where an electron is, because it does not have a single location. Until we observe the electron, it is "superimposed" over every possible location at once. There is not <i>one</i> reality in the same way that there is not <i>one</i> position of an electron.</p>

<p>Electrons seem mostly inconsequential to the average person. But then, of course, there exists the famous thought experiment by Erwin Schr&ouml;dinger, involving a cat trapped in a box with a radioactive isotope and a vial of toxic vapor.</p>

<%= image_tag(@cat_image, :size => "600x318") %>

<p>After an hour, the radioactive isotope (by design of the experiment) is equally likely to have decayed and tripped the execution device as it is to have remained in the same state and left the cat alive. Thus, at the one-hour mark, the cat itself is equally likely to be dead and to be alive.</p>

<p>The Copenhagen interpretation of quantum mechanics holds that the closed box simultaneously exists in a state of "dead cat" and "living cat." Under this theory, the cat is both dead <i>and</i> alive until the box is opened.</p>


<span class="link">
  <a class="prev" href="/home/certainty" style=<%= @link_style.html_safe%>>&laquo; Previous</a>
  <a class="next" href="/home/observer" style=<%= @link_style.html_safe%>>Next &raquo;</a>
</span>
