<h2>The Medium</h2>

<h3>So Why a Website?</h3>

<p>The design of this website is meant to mirror the uncertainty and the individual nature of postmodernism. Many aspects of the site are determined by randomization. They include the fonts, background color, the "Previous" and "Next" button colors, and the images. As a consequence, when a visitor clicks through, their experience of the website will be unique to them. In fact, the same visitor will not have the same experience twice. Try it! Navigate back to the start, and refresh a couple of pages along the way.</p>

<span class="link">
  <a class="home" href="/home/index" style=<%= @link_style.html_safe %>>&laquo; Home</a>
</span>

<p>The idea is that there does not exist a single reality of this website. Each permutation of the different fonts, colors, and images is equally likely. Rather, the visitor creates a reality unique to them as soon as they observe the site. Quantum mechanics would suggest that this site exists as the superposition of all its possible appearances at once. By loading a specific page, a visitor effectively "collapses" the cloud of probabilities that is this website into a single state.</p>

<p>If this website were modeled in the style of modernism, it would consist of static HTML pages, whose source code I could present to you before you view the site. I would have a complete understanding of its workings, and as such, I would be the authority on the experience you receive.</p>

<p>But because this site is dynamic, that is to say it is nondeterministic, even by knowing all the rules that govern its generation I can only present visitors with <i>possible</i> versions they will see, with specific probabilities for each. Although I, as the developer, understand the workings of the website far more thoroughly than its viewers, only the viewer can know the experience they will have. </p>

<span class="link">
  <a class="prev" href="/home/observer" style=<%= @link_style.html_safe%>>&laquo; Previous</a>
  <a class="next" href="/home/bibliography" style=<%= @link_style.html_safe%>>Works Cited &raquo;</a>
</span>
